.banner{
    background-color: #556EE6;
    display: flex;
    height: 100vh;
    align-items: center;
    
}

h2{
    color: white;
}

.login-button{
    width: 150px;
}

.banner-para{
    color: darkgrey;
    width: 450px;
}

.certificate-img{
    width: 80%;
}
